body{
	background-color: rgba(0,0,0,0.5);
	background-image: 
		url(../images/marblebg.jpg);
		background-size: cover;
}

.headers {
	color: rgba(128,0,0,0.9);
	font-family: "Muli", sans-serif;
	font-weight: bold;
	font-size:25px;
	position: top;
	text-align: left;
	padding: 20px;
}
table, td {border: 2px  solid;
			color: rgba(0,0,0,0.7);
			font-weight: lighter;
			border-color: rgba(128,0,0,0.5);
			border-width: 5px;}

			th, td {padding: 7.175px;
				font-size:24px;}
			th{ font-family: "Muli", sans-serif;
				font-weight: bold;
				border: 2px solid;
				border-color: rgba(128,0,0,0.5);
				border-width: 5px;}
			td, tr {text-align: center;
					font-family: "Muli", sans-serif;
					}
			caption {color:rgba(0,0,0,0.7);
				font-family: "Muli", sans-serif;
				font-size:30px;}
		}
}
